maxwhere/myVoc/.exampleFlows.json.backup
[{"id":"7a8e304c8176f151","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"622260cc4d8a0675","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cfd3cb6a04873171","type":"mqtt-broker","name":"","broker":"mqtt.maxwhere.com","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a67fbc4bc2ae99f4","type":"mqtt-broker","name":"","broker":"192.168.1.150","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"50f89dc0de80b9c2","type":"add-webtable","z":"7a8e304c8176f151","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-37.57738494873047,"y":700,"z":-409.4106140136719},"orientation":{"w":0.9902377724647522,"x":-0.13938859105110168,"y":0,"z":0},"scale":{"x":1.5,"y":1.5,"z":1.5},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1600,"resolution-height":900,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable editor"},"x":270,"y":160,"wires":[[]]},{"id":"162e3bb91b06b401","type":"mqtt in","z":"7a8e304c8176f151","name":"Platy_pos","topic":"platypous/position","qos":"2","datatype":"json","broker":"a67fbc4bc2ae99f4","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":380,"wires":[["1870229dd05948f2"]]},{"id":"44ebc62948e068d6","type":"mqtt in","z":"7a8e304c8176f151","name":"Platy_ori","topic":"platypous/orientation","qos":"2","datatype":"json","broker":"a67fbc4bc2ae99f4","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":440,"wires":[["5d3b05e5dd0c4f01"]]},{"id":"f4996bd155ee5413","type":"add-mesh","z":"7a8e304c8176f151","settings":{"create":"init","options":{"url":"Cube.mesh","id":"Platy_mesh","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":20,"y":15,"z":40},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"Platy_mesh"},"x":250,"y":240,"wires":[[]]},{"id":"53be152c14026f8f","type":"set-position","z":"7a8e304c8176f151","settings":{"nodeid":"Platy_mesh","mode":"fromInput","reference":"absolute","space":"parent"},"x":890,"y":380,"wires":[[]]},{"id":"075b6726e7fe2547","type":"set-orientation","z":"7a8e304c8176f151","settings":{"nodeid":"Platy_mesh","mode":"fromInput","reference":"absolute","space":"parent"},"x":700,"y":440,"wires":[[]]},{"id":"aa9df0b36c71c98d","type":"offset","z":"7a8e304c8176f151","settings":{"offset":{"x":0,"y":20,"z":0}},"x":730,"y":380,"wires":[["53be152c14026f8f"]]},{"id":"1870229dd05948f2","type":"function","z":"7a8e304c8176f151","name":"","func":"return { payload: { x: msg.payload.y * 100, y: msg.payload.z * 100, z: msg.payload.x * 100 } }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["aa9df0b36c71c98d"]]},{"id":"5d3b05e5dd0c4f01","type":"function","z":"7a8e304c8176f151","name":"","func":"return { payload: { w: msg.payload.w, x: 0, y: 1, z: 0 } }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["075b6726e7fe2547"]]}]