maxwhere/myVoc/.exampleFlows.json.backup
[{"id":"859dd57f5dd3d187","type":"tab","label":"Stress test","disabled":true,"info":""},{"id":"7a8e304c8176f151","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"622260cc4d8a0675","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cfd3cb6a04873171","type":"mqtt-broker","name":"","broker":"mqtt.maxwhere.com","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a67fbc4bc2ae99f4","type":"mqtt-broker","name":"","broker":"192.168.1.150","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a3c4b11a17465305","type":"inject","z":"859dd57f5dd3d187","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":210,"y":80,"wires":[["30648f963b64fc64"]]},{"id":"30648f963b64fc64","type":"function","z":"859dd57f5dd3d187","name":"Random position","func":"\nmsg.payload = {\n    position: {\n        x: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n        y: Math.random() * 3000 + 2000,\n        z: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n    },\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":240,"wires":[["d406eeb3f33961a6"]]},{"id":"d406eeb3f33961a6","type":"add-mesh","z":"859dd57f5dd3d187","settings":{"create":"input","options":{"url":"penguin.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"displayName":"add a pengu","save":false},"x":170,"y":300,"wires":[[]]},{"id":"50f89dc0de80b9c2","type":"add-webtable","z":"7a8e304c8176f151","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-37.57738494873047,"y":700,"z":-409.4106140136719},"orientation":{"x":-0.13938858928566397,"y":0,"z":0,"w":0.9902377599228138},"scale":{"x":1.5,"y":1.5,"z":1.5},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1600,"resolution-height":900,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable editor"},"x":200,"y":280,"wires":[[]]},{"id":"e3a2d81ae6f3eb11","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"platypous/position","qos":"0","datatype":"json","broker":"a67fbc4bc2ae99f4","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":440,"wires":[["75f3d027060490e6"]]},{"id":"979c46fdeb006e6d","type":"add-mesh","z":"7a8e304c8176f151","settings":{"create":"init","options":{"url":"penguin.mesh","id":"robot","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"Platypous"},"x":160,"y":440,"wires":[[]]},{"id":"75f3d027060490e6","type":"set-position","z":"7a8e304c8176f151","settings":{"nodeid":"robot","mode":"fromInput","reference":"absolute","space":"local"},"x":750,"y":480,"wires":[[]]},{"id":"1e7a2b863265e260","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"controller/orientation/#","qos":"0","datatype":"utf8","broker":"a67fbc4bc2ae99f4","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":720,"wires":[["b8b716edcc099b8c"]]},{"id":"910ad16b9c630d9e","type":"set-orientation","z":"7a8e304c8176f151","settings":{"nodeid":"robot","mode":"fromInput","reference":"absolute","space":"local"},"x":920,"y":600,"wires":[[]]},{"id":"b8b716edcc099b8c","type":"debug","z":"7a8e304c8176f151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":720,"wires":[]}]