maxwhere/myVoc/.exampleFlows.json.backup
[{"id":"859dd57f5dd3d187","type":"tab","label":"Stress test","disabled":true,"info":""},{"id":"7a8e304c8176f151","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"622260cc4d8a0675","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cfd3cb6a04873171","type":"mqtt-broker","name":"","broker":"mqtt.maxwhere.com","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a3c4b11a17465305","type":"inject","z":"859dd57f5dd3d187","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":130,"y":180,"wires":[["30648f963b64fc64"]]},{"id":"30648f963b64fc64","type":"function","z":"859dd57f5dd3d187","name":"Random position","func":"\nmsg.payload = {\n    position: {\n        x: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n        y: Math.random() * 3000 + 2000,\n        z: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n    },\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":240,"wires":[["d406eeb3f33961a6"]]},{"id":"d406eeb3f33961a6","type":"add-mesh","z":"859dd57f5dd3d187","settings":{"create":"input","options":{"url":"penguin.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"displayName":"add a pengu","save":false},"x":170,"y":300,"wires":[[]]},{"id":"562d24815f807055","type":"wom-event-subscribe","z":"7a8e304c8176f151","settings":{"eventName":"node-position","subject":"camera"},"x":220,"y":280,"wires":[["e769ac070ae546be"]]},{"id":"e20a4bc1e1c3a328","type":"wom-event-subscribe","z":"7a8e304c8176f151","settings":{"eventName":"node-orientation","subject":"camera"},"x":220,"y":360,"wires":[["50d86c5bb48ed5fa"]]},{"id":"a644461f1797eb9d","type":"debug","z":"7a8e304c8176f151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"e769ac070ae546be","type":"get-node-property","z":"7a8e304c8176f151","settings":{"nodeid":"camera","prop":"position"},"x":470,"y":280,"wires":[["a644461f1797eb9d","5406e9183a51cd9c"]]},{"id":"50d86c5bb48ed5fa","type":"get-node-property","z":"7a8e304c8176f151","settings":{"nodeid":"camera","prop":"orientation"},"x":470,"y":360,"wires":[["5cb6802a8fc7adde"]]},{"id":"50f89dc0de80b9c2","type":"add-webtable","z":"7a8e304c8176f151","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-37.57738494873047,"y":700,"z":-409.4106140136719},"orientation":{"w":0.9902377724647522,"x":-0.13938859105110168,"y":0,"z":0},"scale":{"x":1.5,"y":1.5,"z":1.5},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1600,"resolution-height":900,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable editor"},"x":210,"y":80,"wires":[[]]},{"id":"5406e9183a51cd9c","type":"mqtt out","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Levi/pos","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cfd3cb6a04873171","x":740,"y":300,"wires":[]},{"id":"e3a2d81ae6f3eb11","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Mate/pos","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":360,"y":540,"wires":[["75f3d027060490e6"]]},{"id":"979c46fdeb006e6d","type":"add-mesh","z":"7a8e304c8176f151","settings":{"create":"init","options":{"url":"penguin.mesh","id":"Mate","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"Mate_pengium"},"x":230,"y":480,"wires":[[]]},{"id":"75f3d027060490e6","type":"set-position","z":"7a8e304c8176f151","settings":{"nodeid":"Mate","mode":"fromInput","reference":"absolute","space":"local"},"x":610,"y":540,"wires":[[]]},{"id":"5cb6802a8fc7adde","type":"mqtt out","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Levi/ori","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cfd3cb6a04873171","x":740,"y":380,"wires":[]},{"id":"1e7a2b863265e260","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Mate/ori","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":360,"y":620,"wires":[["cf625f4060501ae3"]]},{"id":"910ad16b9c630d9e","type":"set-orientation","z":"7a8e304c8176f151","settings":{"nodeid":"Mate","mode":"fromInput","reference":"absolute","space":"local"},"x":620,"y":620,"wires":[[]]},{"id":"66c237cac0b5b17d","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/fletli/pos","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":340,"y":760,"wires":[["3c3d5eb9a01b0e49"]]},{"id":"5472784f7d517204","type":"add-mesh","z":"7a8e304c8176f151","settings":{"create":"init","options":{"url":"penguin.mesh","id":"fletli","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"fletli_pengium"},"x":210,"y":700,"wires":[[]]},{"id":"3c3d5eb9a01b0e49","type":"set-position","z":"7a8e304c8176f151","settings":{"nodeid":"fletli","mode":"fromInput","reference":"absolute","space":"local"},"x":590,"y":760,"wires":[[]]},{"id":"5422a3a910bf27ce","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/fletli/ori","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":340,"y":840,"wires":[["b28dbdf98ab6f65e"]]},{"id":"0311ab439457eea8","type":"set-orientation","z":"7a8e304c8176f151","settings":{"nodeid":"fletli","mode":"fromInput","reference":"absolute","space":"local"},"x":740,"y":840,"wires":[[]]},{"id":"5b9b13207cc8c2d0","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Laci/pos","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":320,"y":1000,"wires":[["8fa673f5e80729ff"]]},{"id":"9822c1a6d49182e3","type":"add-mesh","z":"7a8e304c8176f151","settings":{"create":"init","options":{"url":"penguin.mesh","id":"Laci","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"Laci_pengium"},"x":190,"y":940,"wires":[[]]},{"id":"8fa673f5e80729ff","type":"set-position","z":"7a8e304c8176f151","settings":{"nodeid":"Laci","mode":"fromInput","reference":"absolute","space":"local"},"x":570,"y":1000,"wires":[[]]},{"id":"d9d208a03b7eec29","type":"mqtt in","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Laci/ori","qos":"0","datatype":"json","broker":"cfd3cb6a04873171","nl":false,"rap":true,"rh":0,"x":260,"y":1080,"wires":[["e3f201796b2f4aad"]]},{"id":"fc8a79af8df9a5ce","type":"set-orientation","z":"7a8e304c8176f151","settings":{"nodeid":"Laci","mode":"fromInput","reference":"absolute","space":"local"},"x":680,"y":1080,"wires":[[]]},{"id":"b28dbdf98ab6f65e","type":"rotate","z":"7a8e304c8176f151","settings":{"oriType":"angle-axis","angle-axis":{"angle":180,"axis":{"x":0,"y":1,"z":0}}},"x":550,"y":940,"wires":[["0311ab439457eea8"]]},{"id":"e3f201796b2f4aad","type":"rotate","z":"7a8e304c8176f151","settings":{"oriType":"angle-axis","angle-axis":{"angle":180,"axis":{"x":0,"y":1,"z":0}}},"x":470,"y":1160,"wires":[["fc8a79af8df9a5ce"]]},{"id":"cf625f4060501ae3","type":"rotate","z":"7a8e304c8176f151","settings":{"oriType":"angle-axis","angle-axis":{"angle":180,"axis":{"x":0,"y":1,"z":0}}},"x":490,"y":680,"wires":[["910ad16b9c630d9e"]]},{"id":"881e07fa56546f2e","type":"wom-event-subscribe","z":"7a8e304c8176f151","settings":{"eventName":"click","subject":"none"},"x":220,"y":200,"wires":[["8764c0f40525bb18","f504862c249f8d11"]]},{"id":"8764c0f40525bb18","type":"debug","z":"7a8e304c8176f151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"f504862c249f8d11","type":"mqtt out","z":"7a8e304c8176f151","name":"","topic":"3Dprog/Levi/fire","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cfd3cb6a04873171","x":500,"y":140,"wires":[]}]