maxwhere/components/voc-builder/examples/flows_TEST.json
[{"id":"3e20993d.c684a6","type":"tab","label":"Example flow","disabled":false,"info":""},{"id":"c55b7d4c.c2261","type":"tab","label":"Add nodes on input","disabled":true,"info":""},{"id":"96d84b70.9d8f28","type":"tab","label":"Mesh on OTF","disabled":true,"info":""},{"id":"967d89b7.a9c238","type":"tab","label":"3D printer","disabled":true,"info":""},{"id":"6dc42510.9834cc","type":"tab","label":"Camera follows object","disabled":true,"info":""},{"id":"f1a05c31.13f0f","type":"tab","label":"Object follows camera","disabled":true,"info":""},{"id":"d51065a3.1a4bb8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"438e4068.f76dd","type":"comment","z":"3e20993d.c684a6","name":"Add webtables","info":"The node-red editor.","x":80,"y":40,"wires":[]},{"id":"94425c3b.07e24","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"Base","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"talp_krom.mesh","id":"pendulum","position":{"x":600,"y":100,"z":100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":60,"y":60,"z":60},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j2_2","text":"base2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_2"},"a_attr":{"href":"#","id":"j2_2_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"talp_muanyag.mesh","id":"base2","position":{"x":0,"y":-0.15,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j2_3","text":"horizpen1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_3"},"a_attr":{"href":"#","id":"j2_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","id":"horizpen1","position":{"x":0,"y":0.7,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j3_5","text":"horizpen2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_5"},"a_attr":{"href":"#","id":"j3_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","id":"horizpen2","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j3_6","text":"vertpen","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_6"},"a_attr":{"href":"#","id":"j3_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","id":"vertpen","position":{"x":0,"y":0,"z":1.8},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j2_4","text":"zeroindicator","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_4"},"a_attr":{"href":"#","id":"j2_4_anchor"},"state":{"loaded":true,"opened":false,"selected":true,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","id":"zeroindicator","position":{"x":0,"y":-0.6,"z":0.5},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.2,"y":0.2,"z":0.2},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"root"},"name":"Pendulum","save":false,"create":"init","x":820,"y":80,"wires":[[]]},{"id":"a3c557ef.58bd08","type":"add-light","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"exp-light","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false,"physical":{"raycast":false}}},"x":400,"y":80,"wires":[[]]},{"id":"17d646a9.b2c1f9","type":"comment","z":"3e20993d.c684a6","name":"add meshes","info":"","x":550,"y":40,"wires":[]},{"id":"aa03821f.df208","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"General","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin1","position":{"x":-202.75518798828125,"y":228.92213439941406,"z":741.244140625},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_2","text":"Colonel 1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_2"},"a_attr":{"href":"#","id":"j1_2_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin2","position":{"x":423.2454833984375,"y":80.82637023925781,"z":133.55615234375},"orientation":{"x":-0.2930680513381958,"y":0,"z":0,"w":0.956091582775116},"scale":{"x":2.0534350872039795,"y":2.0534350872039795,"z":2.0534350872039795},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_4","text":"Captain 1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_4"},"a_attr":{"href":"#","id":"j1_4_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin4","position":{"x":100,"y":100,"z":-100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j1_5","text":"Captain 2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_5"},"a_attr":{"href":"#","id":"j1_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin5","position":{"x":-100,"y":100,"z":-100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j1_3","text":"Colonel 2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_3"},"a_attr":{"href":"#","id":"j1_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin3","position":{"x":-200,"y":100,"z":-100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_6","text":"Captain 3","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_6"},"a_attr":{"href":"#","id":"j1_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin6","position":{"x":100,"y":100,"z":-100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j1_7","text":"Captain 4","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_7"},"a_attr":{"href":"#","id":"j1_7_anchor"},"state":{"loaded":true,"opened":false,"selected":true,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin7","position":{"x":-100,"y":100,"z":-100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"}],"type":"root"},"name":"Penguin army","save":false,"create":"init","x":830,"y":120,"wires":[[]]},{"id":"7fc7a0d0.294a5","type":"comment","z":"3e20993d.c684a6","name":"Add light","info":"","x":400,"y":40,"wires":[]},{"id":"28e31465.a073ac","type":"mw-gauge","z":"3e20993d.c684a6","x":330,"y":780,"wires":[]},{"id":"3b203b9f.43a4d4","type":"ui_slider","z":"3e20993d.c684a6","name":"Pressure slider","label":"Pressure","tooltip":"","group":"e97008a6.baaeb8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1000","step":1,"x":120,"y":780,"wires":[["28e31465.a073ac"]]},{"id":"e8c4edf6.26d2d","type":"mw-tank","z":"3e20993d.c684a6","x":360,"y":920,"wires":[]},{"id":"6926e376.1b92bc","type":"ui_slider","z":"3e20993d.c684a6","name":"Color slider","label":"Color","tooltip":"","group":"224e2422.a02d9c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setColor","min":0,"max":"1000","step":1,"x":110,"y":880,"wires":[["e8c4edf6.26d2d"]]},{"id":"5409f0a.406221","type":"ui_slider","z":"3e20993d.c684a6","name":"Level slider","label":"Level","tooltip":"","group":"224e2422.a02d9c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setLevel","min":0,"max":"1000","step":1,"x":110,"y":920,"wires":[["e8c4edf6.26d2d"]]},{"id":"b736c7b6.e9e528","type":"mw-tank","z":"3e20993d.c684a6","x":350,"y":1060,"wires":[]},{"id":"b18194e4.3e82a8","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":0,"y":700,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1920,"resolution-height":1080,"zorder":2,"metrics":"relative","left":1,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"transparent":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable editor","save":false},"x":160,"y":80,"wires":[[]]},{"id":"7469ef8c.cb725","type":"ui_slider","z":"3e20993d.c684a6","name":"Color slider","label":"Color","tooltip":"","group":"a3ca754b.ad6ed8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setColor","min":0,"max":"1000","step":1,"x":110,"y":1020,"wires":[["b736c7b6.e9e528"]]},{"id":"150235ad.a5f60a","type":"ui_slider","z":"3e20993d.c684a6","name":"Level slider","label":"Level","tooltip":"","group":"a3ca754b.ad6ed8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setLevel","min":0,"max":"1000","step":1,"x":110,"y":1060,"wires":[["b736c7b6.e9e528"]]},{"id":"75625a28.9dff14","type":"comment","z":"3e20993d.c684a6","name":"Gauge","info":"","x":90,"y":740,"wires":[]},{"id":"6389f208.6fd15c","type":"comment","z":"3e20993d.c684a6","name":"Tanks","info":"","x":90,"y":840,"wires":[]},{"id":"428490a9.9be34","type":"ui_switch","z":"3e20993d.c684a6","name":"Transparency toggle","label":"Trasparency","tooltip":"","group":"224e2422.a02d9c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"toggleTransparency","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":960,"wires":[["e8c4edf6.26d2d"]]},{"id":"37bab02e.37c97","type":"ui_switch","z":"3e20993d.c684a6","name":"Transparency toggle","label":"Trasparency","tooltip":"","group":"a3ca754b.ad6ed8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"toggleTransparency","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":1100,"wires":[["b736c7b6.e9e528"]]},{"id":"4ce65843.8855b8","type":"comment","z":"3e20993d.c684a6","name":"Objects with custom behavior","info":"","x":140,"y":700,"wires":[]},{"id":"a53c651d.b715d8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"local","oriType":"angle-axis","angle-axis":{"angle":10,"axis":{"x":1,"y":0,"z":0}},"reference":"relative","space":"parent","displayName":"rotate it by 10 degrees"},"x":400,"y":260,"wires":[[]]},{"id":"95f9eb56.16bf98","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","eventName":"click","displayName":"When little penguin is clicked"},"x":140,"y":260,"wires":[["a53c651d.b715d8","993a1d54.65dc9"]]},{"id":"993a1d54.65dc9","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"local","position":{"x":-30,"y":0,"z":0},"reference":"relative","space":"parent","displayName":"move it to left"},"x":370,"y":220,"wires":[[]]},{"id":"8f1b409.5b96dc","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"mediumPengu","eventName":"click","displayName":"When medium penguin is clicked"},"x":150,"y":320,"wires":[["f1e373e.9c8ec9"]]},{"id":"f1e373e.9c8ec9","type":"set-scale","z":"3e20993d.c684a6","settings":{"nodeid":"mediumPengu","mode":"local","scale":{"x":1.1,"y":1.1,"z":1.1},"reference":"relative","space":"parent","displayName":"scale it up"},"x":380,"y":320,"wires":[[]]},{"id":"49f6e49c.e8d1cc","type":"comment","z":"3e20993d.c684a6","name":"Click here for gizmo control inputs","info":"crtl + right click to select target\nq, w, e to chage between modes\nesc to quit gizmo","x":840,"y":220,"wires":[]},{"id":"f1712f6f.424e2","type":"comment","z":"3e20993d.c684a6","name":"Manipulating the wom with events","info":"","x":150,"y":200,"wires":[]},{"id":"e04a2ab1.bb3048","type":"set-shader","z":"3e20993d.c684a6","settings":{"nodeid":"gauge1","shader":"SurfacecolorbiasR","mode":"local","value":0.1,"reference":"relative","displayName":"increase red shader"},"x":420,"y":380,"wires":[[]]},{"id":"2af3f478.66fe1c","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"gauge1","eventName":"click","displayName":"When gauge is clicked"},"x":120,"y":380,"wires":[["e04a2ab1.bb3048"]]},{"id":"c7599aba.1c8248","type":"exploded-view","z":"3e20993d.c684a6","name":"toggle exploded view","nodeid":"pendulum","displacementFactor":"70","x":420,"y":440,"wires":[[]]},{"id":"6ed94f8c.e89df","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"pendulum","eventName":"click","displayName":"When pendulum clicked"},"x":120,"y":440,"wires":[["c7599aba.1c8248"]]},{"id":"c44fd63f.d57758","type":"comment","z":"3e20993d.c684a6","name":"Manipulating the wom form external data source","info":"","x":200,"y":500,"wires":[]},{"id":"1479fe41.0d2352","type":"comment","z":"3e20993d.c684a6","name":"Add mesh hierachy","info":"","x":850,"y":40,"wires":[]},{"id":"714095ba.22fc2c","type":"inject","z":"3e20993d.c684a6","name":"send json: {\"x\":0,\"y\":0,\"z\":1,\"w\":1}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":1,\"y\":0,\"z\":0,\"w\":1}","payloadType":"json","x":170,"y":600,"wires":[["b73a7063.17f4e"]]},{"id":"b73a7063.17f4e","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"bigPengu","mode":"fromInput","reference":"relative","space":"parent","displayName":"rotate big penguin"},"x":550,"y":620,"wires":[[]]},{"id":"1002ce27.c3ee32","type":"inject","z":"3e20993d.c684a6","name":"send json on button click: {\"x\":0,\"y\":0,\"z\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":0,\"y\":0,\"z\":20}","payloadType":"json","x":210,"y":560,"wires":[["6abf39f5.11b488"]]},{"id":"6abf39f5.11b488","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"camera","mode":"fromInput","reference":"relative","space":"parent","displayName":"move camera backwards"},"x":510,"y":560,"wires":[[]]},{"id":"5cea2baf.657e54","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"mediumPengu","position":{"x":-93.27772521972656,"y":711.9185180664062,"z":1040.4462890625},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"raycast":true}},"save":true,"displayName":"add mediumPengu"},"x":590,"y":120,"wires":[[]]},{"id":"c9c69cfd.4fee9","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"bigPengu","position":{"x":400,"y":200,"z":100},"orientation":{"x":0,"y":0,"z":0.6097419261932373,"w":0.7926000356674194},"scale":{"x":3,"y":3,"z":3},"autophysical":true,"physical":{"raycast":true}},"save":true,"displayName":"add bigPengu"},"x":570,"y":160,"wires":[[]]},{"id":"3283a167.afb34e","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"littlePengu","position":{"x":265.0801696777344,"y":518.5230102539062,"z":1559.3475341796875},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":6.034870624542236,"y":6.034870624542236,"z":6.034870624542236},"autophysical":true,"physical":{"raycast":true}},"save":true,"displayName":"add littlePengu"},"x":580,"y":80,"wires":[[]]},{"id":"cf334b53.d75178","type":"load-otf-asset","z":"96d84b70.9d8f28","settings":{"otf":"test-asset-1","displayName":"Load test-asset-1 OTF asset"},"x":180,"y":140,"wires":[["3c6ceb12.f8ce04"]]},{"id":"9e92d2ea.d94b6","type":"load-otf-asset","z":"96d84b70.9d8f28","settings":{"otf":"test-asset-2","displayName":"Load test-asset-2"},"x":140,"y":200,"wires":[[]]},{"id":"3c6ceb12.f8ce04","type":"add-mesh","z":"96d84b70.9d8f28","settings":{"create":"input","options":{"url":"gomb.mesh","position":{"x":-400,"y":800,"z":100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1000,"y":1000,"z":1000},"autophysical":true,"physical":{"raycast":true}},"displayName":"add gomb mesh from OTF"},"x":460,"y":140,"wires":[[]]},{"id":"d55d6324.74bbd","type":"change","z":"967d89b7.a9c238","name":"set pos to 0,0,0","rules":[{"t":"set","p":"pos","pt":"flow","to":"{\"position\":{\"x\":0,\"y\":0,\"z\":0}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[[]]},{"id":"c95448b4.ea0878","type":"function","z":"967d89b7.a9c238","name":"Change pos","func":"let pos=flow.get(\"pos\").position;\n\nif (pos.x < 100) {\n    pos.x = pos.x + 1;\n    return pos;\n  } else if (pos.z < 100) {\n    pos.z = pos.z + 1;\n    pos.x = 0;\n    return pos;\n  } else {\n    pos.y = pos.y + 1;\n    pos.x = 0;\n    pos.z = 0;\n    return pos;\n  }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["9b407c12.4e5d"]]},{"id":"6d0d23f0.baac0c","type":"inject","z":"967d89b7.a9c238","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":300,"y":180,"wires":[["c95448b4.ea0878"]]},{"id":"9b407c12.4e5d","type":"function","z":"967d89b7.a9c238","name":"set object","func":"let newMsg={payload:{}}\nnewMsg.payload.position=msg\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":180,"wires":[["f255bff4.1dcdb","40a5e7c.bb6f118"]]},{"id":"f255bff4.1dcdb","type":"add-mesh","z":"967d89b7.a9c238","settings":{"create":"input","options":{"url":"unit_cube_bevel.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false},"autophysical":false}},"x":780,"y":180,"wires":[[]]},{"id":"79d1157d.9210ac","type":"debug","z":"967d89b7.a9c238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"eb024e5e.69c45","type":"debug","z":"967d89b7.a9c238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"1890a4a6.0e615b","type":"inject","z":"967d89b7.a9c238","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["eb024e5e.69c45","d55d6324.74bbd"]]},{"id":"fcf00a7e.3c3bc8","type":"inject","z":"3e20993d.c684a6","name":"send json:{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","payloadType":"json","x":210,"y":640,"wires":[["b73a7063.17f4e"]]},{"id":"67f9da73.7c1df4","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-dashboard","url":"http://localhost:8000/api/ui/","position":{"x":1450,"y":700,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable dashboard","save":false},"x":190,"y":120,"wires":[[]]},{"id":"5f7cc778.d4f7c8","type":"add-webtable","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"url":"http://localhost:8000/red/","position":{"x":0,"y":1500,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable on input","save":false},"x":800,"y":660,"wires":[["6e2b68b6.96f708"]]},{"id":"61f3e7b8.5fd3c8","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"id\":\"wb2\",\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"wb2\",\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","payloadType":"json","x":240,"y":720,"wires":[["5f7cc778.d4f7c8"]]},{"id":"b1932ced.cf8ce","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"id\":\"wb3\",\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"wb3\",\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","payloadType":"json","x":240,"y":780,"wires":[["5f7cc778.d4f7c8"]]},{"id":"c7dcb8e0.c3c668","type":"add-overlay","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"url":"https://www.google.com/","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"overlay","width":300,"height":200,"resolution-width":1280,"resolution-height":720,"zorder":40,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","disableIngamePhysical":true,"directKeyEvent":true,"nodeIntegration":true,"webSecurity":true,"scaleFactor":1,"autophysical":false,"transparent":false,"inputDisabled":false},"behavior":"3D only","displayName":"ovrlay"},"x":750,"y":1080,"wires":[["a21a3bd1.0bec48"]]},{"id":"990d09a9.4442a8","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"top\":500}","payloadType":"json","x":120,"y":1160,"wires":[["c7dcb8e0.c3c668"]]},{"id":"722ef14a.174d2","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1040,"wires":[["c7dcb8e0.c3c668"]]},{"id":"a21a3bd1.0bec48","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1080,"wires":[]},{"id":"c26c1332.718ea","type":"add-mesh-hierarchy","z":"c55b7d4c.c2261","parent":{"id":"parent","text":"Base","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":true,"disabled":false},"data":{"options":{"url":"talp_krom.mesh","position":{"x":-1200,"y":100,"z":100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":60,"y":60,"z":60},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j2_2","text":"base2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_2"},"a_attr":{"href":"#","id":"j2_2_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"talp_muanyag.mesh","position":{"x":0,"y":-0.15,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j2_3","text":"horizpen1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_3"},"a_attr":{"href":"#","id":"j2_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","position":{"x":0,"y":0.7,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j3_5","text":"horizpen2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_5"},"a_attr":{"href":"#","id":"j3_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j3_6","text":"vertpen","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_6"},"a_attr":{"href":"#","id":"j3_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","position":{"x":0,"y":0,"z":1.8},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j2_4","text":"zeroindicator","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_4"},"a_attr":{"href":"#","id":"j2_4_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","position":{"x":0,"y":-0.6,"z":0.5},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.2,"y":0.2,"z":0.2},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"root"},"name":"Pendulum","save":false,"create":"input","x":700,"y":1420,"wires":[["df863e61.a4645"]]},{"id":"cb21ea01.da6b98","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","payloadType":"json","x":280,"y":1500,"wires":[["c26c1332.718ea"]]},{"id":"170026ab.d522f9","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1380,"wires":[["c26c1332.718ea"]]},{"id":"774452c3.bdf18c","type":"comment","z":"c55b7d4c.c2261","name":"Add webtable on input","info":"","x":100,"y":360,"wires":[]},{"id":"6ff2021a.1ea16c","type":"inject","z":"c55b7d4c.c2261","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["5f7cc778.d4f7c8"]]},{"id":"7fbbeafd.af6944","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":420,"wires":[]},{"id":"d375044e.458a18","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":600,"wires":[]},{"id":"83936c81.c1f02","type":"comment","z":"c55b7d4c.c2261","name":"Add overlay on input","info":"","x":90,"y":920,"wires":[]},{"id":"1aa751f0.7dc1be","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":1000,"wires":[]},{"id":"1774114f.ff86cf","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":1120,"wires":[]},{"id":"3a0158f7.87c038","type":"comment","z":"c55b7d4c.c2261","name":"Add mesh hierarchy on input","info":"","x":120,"y":1280,"wires":[]},{"id":"46027a59.022604","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":1340,"wires":[]},{"id":"d4cdfe6b.3ee42","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":1460,"wires":[]},{"id":"6e2b68b6.96f708","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":660,"wires":[]},{"id":"df863e61.a4645","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1420,"wires":[]},{"id":"590c3cd3.96e124","type":"add-light","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"position":{"x":0,"y":400,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false,"physical":{"raycast":false}}},"x":720,"y":1740,"wires":[[]]},{"id":"9659d013.fb6ad","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"exp-light2\",\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","payloadType":"json","x":340,"y":1700,"wires":[["590c3cd3.96e124"]]},{"id":"51aa8cf8.dd08d4","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":-600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":-600,\"y\":1000,\"z\":0}}","payloadType":"json","x":340,"y":1740,"wires":[["590c3cd3.96e124"]]},{"id":"c4afcd99.5fe46","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","payloadType":"json","x":330,"y":1780,"wires":[["590c3cd3.96e124"]]},{"id":"7ec9f12b.80bdd","type":"wom-event-subscribe","z":"6dc42510.9834cc","settings":{"eventName":"node-position","subject":"littlePengu","displayName":"When littlePengu is changing his position"},"x":160,"y":60,"wires":[["8ddf1f08.a6f68","ebefec4a.e3cb5"]]},{"id":"8ddf1f08.a6f68","type":"get-node-property","z":"6dc42510.9834cc","settings":{"nodeid":"littlePengu","prop":"position","displayName":"get littlePengu position"},"x":460,"y":60,"wires":[["26b51704.cfbe98"]]},{"id":"26b51704.cfbe98","type":"function","z":"6dc42510.9834cc","name":"Add 300 to z","func":"msg.payload.z+=300\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":120,"wires":[["eb416a71.20d298"]]},{"id":"eb416a71.20d298","type":"set-position","z":"6dc42510.9834cc","settings":{"nodeid":"camera","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set camera position"},"x":490,"y":180,"wires":[[]]},{"id":"ebefec4a.e3cb5","type":"set-orientation","z":"6dc42510.9834cc","settings":{"nodeid":"camera","mode":"local","oriType":"quaternion","quaternion":{"x":0,"y":0,"z":0,"w":1},"reference":"absolute","space":"parent","displayName":"set camera orientation"},"x":480,"y":240,"wires":[[]]},{"id":"66e04604.240f38","type":"inject","z":"6dc42510.9834cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["a88a2bc4.155ff8"]]},{"id":"a88a2bc4.155ff8","type":"set-position","z":"6dc42510.9834cc","settings":{"nodeid":"littlePengu","mode":"local","position":{"x":-20,"y":0,"z":0},"reference":"relative","space":"parent","displayName":"move littlepengu"},"x":320,"y":360,"wires":[[]]},{"id":"119e95bb.b3aa1a","type":"wom-event-subscribe","z":"f1a05c31.13f0f","settings":{"eventName":"node-position","subject":"camera","displayName":"When camera is changing his position"},"x":190,"y":100,"wires":[["2af9022e.80674e","fff70294.d8566"]]},{"id":"2af9022e.80674e","type":"get-node-property","z":"f1a05c31.13f0f","settings":{"nodeid":"camera","prop":"position","displayName":"get camera position"},"x":490,"y":120,"wires":[["f76b3598.221428"]]},{"id":"f76b3598.221428","type":"function","z":"f1a05c31.13f0f","name":"Sub 300 from z","func":"msg.payload.z-=300\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["c0f2603a.ff809"]]},{"id":"c0f2603a.ff809","type":"set-position","z":"f1a05c31.13f0f","settings":{"nodeid":"littlePengu","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set little pengu position"},"x":540,"y":240,"wires":[[]]},{"id":"fff70294.d8566","type":"debug","z":"f1a05c31.13f0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"51779b34.29ed04","type":"wom-event-subscribe","z":"d51065a3.1a4bb8","settings":{"eventName":"node-orientation","subject":"camera"},"x":310,"y":200,"wires":[["2e6f4563.fa156a"]]},{"id":"2e6f4563.fa156a","type":"debug","z":"d51065a3.1a4bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":200,"wires":[]},{"id":"a9f8f22e.4284c","type":"load-otf-asset","z":"3e20993d.c684a6","settings":{"otf":"test-asset-3"},"x":840,"y":380,"wires":[[]]},{"id":"7cdc5234.2a47fc","type":"add-webtable","z":"3e20993d.c684a6","d":true,"settings":null,"x":1170,"y":260,"wires":[[]]},{"id":"e13b49d5.b212f8","type":"add-overlay","z":"3e20993d.c684a6","d":true,"settings":{"create":"init","options":{"url":"https://www.google.com/","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"overlay","width":1280,"height":721,"resolution-width":1283,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","disableIngamePhysical":true,"webSecurity":true,"scaleFactor":1,"autophysical":false,"inputDisabled":false,"directKeyEvent":false,"nodeIntegration":false},"behavior":"Always on"},"x":1140,"y":380,"wires":[[]]},{"id":"ce1d047.be119f8","type":"add-webtable","z":"3e20993d.c684a6","d":true,"settings":null,"x":1170,"y":460,"wires":[[]]},{"id":"40a5e7c.bb6f118","type":"counter","z":"967d89b7.a9c238","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":760,"y":240,"wires":[["79d1157d.9210ac"]]},{"id":"1aebea2.8ecbe16","type":"offset","z":"c55b7d4c.c2261","settings":{"offset":{"x":100,"y":100,"z":100}},"x":650,"y":2000,"wires":[["3ffd948f.52b93c"]]},{"id":"e1e62d9.fab0dd","type":"inject","z":"c55b7d4c.c2261","name":"{\"x\":600,\"y\":1000,\"z\":0}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":600,\"y\":1000,\"z\":0}","payloadType":"json","x":280,"y":2000,"wires":[["1aebea2.8ecbe16"]]},{"id":"3ffd948f.52b93c","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":2040,"wires":[]},{"id":"4614d767.7ad0b8","type":"rotate","z":"c55b7d4c.c2261","settings":{"oriType":"angle-axis","angle-axis":{"angle":90,"axis":{"x":0,"y":1,"z":0}}},"x":650,"y":2140,"wires":[["3ffd948f.52b93c"]]},{"id":"c2816ce8.ee0a1","type":"inject","z":"c55b7d4c.c2261","name":"{\"w\":0.707,\"x\":0.707,\"y\":0,\"z\":0}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"w\":0.707,\"x\":0.707,\"y\":0,\"z\":0}","payloadType":"json","x":310,"y":2140,"wires":[["4614d767.7ad0b8"]]},{"id":"6c478396.5c9bac","type":"offset","z":"3e20993d.c684a6","settings":{"offset":{"x":0,"y":0,"z":100}},"x":550,"y":1240,"wires":[["234d0186.9e9a7e"]]},{"id":"9baa3d8c.23db9","type":"rotate","z":"3e20993d.c684a6","settings":{"oriType":"angle-axis","angle-axis":{"angle":90,"axis":{"x":0,"y":1,"z":0}}},"x":550,"y":1380,"wires":[["8d043b23.d3f7e8"]]},{"id":"bd62c295.60abf","type":"inject","z":"3e20993d.c684a6","name":"{\"w\":0.707,\"x\":0.707,\"y\":0,\"z\":0}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"w\":0.707,\"x\":0.707,\"y\":0,\"z\":0}","payloadType":"json","x":230,"y":1380,"wires":[["9baa3d8c.23db9"]]},{"id":"4c10e4d6.64001c","type":"inject","z":"3e20993d.c684a6","name":"{\"x\":100,\"y\":0,\"z\":0}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":100,\"y\":0,\"z\":0}","payloadType":"json","x":190,"y":1240,"wires":[["6c478396.5c9bac"]]},{"id":"234d0186.9e9a7e","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"pendulum","mode":"fromInput","reference":"relative","space":"parent"},"x":750,"y":1240,"wires":[[]]},{"id":"8d043b23.d3f7e8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"pendulum","mode":"fromInput","reference":"relative","space":"parent"},"x":750,"y":1380,"wires":[[]]},{"id":"863067ef.55bef8","type":"set-skybox","z":"3e20993d.c684a6","settings":{"create":"input","material":"MolliaSkybox","distance":5000},"x":760,"y":960,"wires":[[]]},{"id":"6c3b5555.c3b8ac","type":"set-skybox","z":"3e20993d.c684a6","settings":{"create":"input","material":"FXUnlitSkyboxLatlong","distance":200},"x":700,"y":1100,"wires":[[]]},{"id":"a67ed284.e1d78","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":1100,"wires":[["6c3b5555.c3b8ac"]]},{"id":"d1fca359.f3dd5","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":940,"wires":[["863067ef.55bef8"]]},{"id":"50b991d9.32e26","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"distance\":1000,\"material\":\"FXUnlitSkyboxLatlong\"}","payloadType":"json","x":510,"y":1000,"wires":[["863067ef.55bef8"]]},{"id":"9605524c.3174d","type":"set-skybox","z":"3e20993d.c684a6","settings":{"create":"input","material":"refinery_factory","distance":200},"x":680,"y":1160,"wires":[[]]},{"id":"8fce583d.4c8298","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1160,"wires":[["9605524c.3174d"]]},{"id":"ec13a22d.cec47","type":"add-mesh","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"url":"unit_cube_bevel.mesh","position":{"x":-600,"y":100,"z":100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":50,"y":50,"z":50},"autophysical":true,"physical":{"raycast":true}},"displayName":"add mesh"},"x":800,"y":140,"wires":[[]]},{"id":"5edfacef.cfee74","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"url\":\"penguin.mesh\",\"scale\":5,\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"penguin.mesh\",\"scale\":5,\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","payloadType":"json","x":340,"y":300,"wires":[["ec13a22d.cec47"]]},{"id":"d96d7b7.f6e5088","type":"inject","z":"c55b7d4c.c2261","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["ec13a22d.cec47"]]},{"id":"270d2e3c.3f1502","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"url\":\"gauge_body.mesh\",\"scale\":30,\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"gauge_body.mesh\",\"scale\":30,\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","payloadType":"json","x":350,"y":260,"wires":[["ec13a22d.cec47"]]},{"id":"2e7fd67e.11d44a","type":"comment","z":"c55b7d4c.c2261","name":"Add mesh on input","info":"","x":110,"y":40,"wires":[]},{"id":"37e5e5ab.e25eba","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":180,"y":100,"wires":[]},{"id":"1e41b979.c89d27","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":180,"y":220,"wires":[]}]